/* --------- */
/*Scrollbar   */
/* --------- */

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2c2c2c;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(201, 201, 201, 0.959);
  border-radius: 12px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(238, 238, 238, 0.911);
  border-radius: 12px;
}

.animation{
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -100;
}