@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
.name {
  font-family: "Amatic SC", cursive;
}

/* loader */

.sticky1 {
  transition: all 0.3s ease-out 0s !important;
  box-shadow: 0px 10px 10px 0px rgba(9, 5, 29, 0.171) !important;
  backdrop-filter: blur(15px) !important;
}
