.buttonstyle {
  color: rgb(72, 168, 237);
  font-size: 40px;
  box-sizing: content-box;
  line-height: 72px;
  text-align: center;
  width: 72px;
  height: 72px;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgb(224, 231, 237);
}
