@import url("https://fonts.googleapis.com/css2?family=Amatic+SC&display=swap");
.name {
  font-family: "Amatic SC", cursive;
}

/* contact */

.card {
  width: 400px;
  min-height: 250px;
  background: rgba(255, 255, 255, 0.15);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 1rem;
  padding: 1.5rem;
  z-index: 10;
  color: whitesmoke;
}

.title {
  font-size: 2.2rem;
  margin-bottom: 1rem;
}

.subtitle {
  font-size: 1rem;
  margin-bottom: 2rem;
}

/* loader */

.loader {
  width: 0.875rem;
  height: 5rem;
  background: lightgreen;
  margin-left: 0.875rem;
  animation: bar-loading 1s infinite alternate;
}

.loader:nth-child(2) {
  animation-delay: -0.2s;
}

.loader:nth-child(3) {
  animation-delay: -0.4s;
}

@keyframes bar-loading {
  0% {
    transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
  }
}
